<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="CFSuite">
<listeners>
<listener class-name="multiusermigration.listeners"/>
<listener class-name="resources.ExtentReporterNG"/>

</listeners>
  <test name="multiCloudAdding">
    <classes>
      <class name="multiusermigration.Multicloudadding"/>
      </classes>
     </test> 
     
     <test name="multimigrations">
     <classes>
      <class name="multiusermigration.Multiusrmigration"/>
     </classes>
     </test> 
   
     
     <!-- TestNG -->
</suite> <!-- Suite -->
